@import "tailwindcss";

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

.animate-dash-flow {
  animation: dash 20s linear infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}